body {
	background-color: #16131a;
	background-image: url("./page-pattern-umikawa.png");
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 90vh;
	margin: 0;
	padding: 0;
}

#app {
	background: #000010;
	padding: 10px;
	border-radius: 10px;
}